@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --main-text-color: #000000;
  --white-color: #ffffff;
  --primary-color: #bdae82;
  --second-font: 'Merriweather', sans-serif;
  --button-padding: 12px 72px 12px 73px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--main-text-color);
  position: relative;
  transition: background-color .3s ease;
}

.body-stop {
  overflow-y: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

.section-box {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.section-line {
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  top: 50%;
  z-index: 0;
}

.section-title {
  color: var(--primary-color);
  font-size: 40px;
  line-height: 80px;
  padding-left: 20px;
  background: var(--main-text-color);
  padding-right: 20px;
  font-family: var(--second-font);
  position: relative;
  z-index: 4;
  display: inline-block;
  font-weight: 700;
}



/* Header Section */

.header {
  position: absolute;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.header-wrapper-logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;  
  height: 40px;
  transition: all .3s ease;
}
.white-logo {
  background-image: url("../images/black-icon.png")
}
.header-wrapper-logo:hover {
  background-image: url("../images/logo-2.svg");
}
.header-wrapper-logo__src path {
  transition: fill .3s ease;
}
.header-wrapper-logo__src path:hover {
  fill: var(--primary-color);
}
.header-wrapper-menu {
  display: flex;
}
.header-wrapper-menu-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 31px;
}
.header-wrapper-menu-list__item-link {
  color: var(--white-color);
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  transition: color .3s ease;
}
.header-wrapper-menu-list__item-link:hover {
  color: #BDAE82;
}
.header-wrapper-language {
  display: flex;
  align-items: center;
  gap: 9px;
}

.header-wrapper-language__eng, .header-wrapper-language__ru, .header-wrapper-language__line {
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: white;
  cursor: pointer;
  transition: all .3s ease;
}

.language-active {
  color: #BDAE82;
}

.burger-menu {
  width: 50px;
  height: 50px;
  margin-left: 20px;  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 101;
}



.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.burger-menu-item {
  width: 100%;
  height: 3px;
  background-color: var(--white-color);  
  transition: all .3s ease;
}

.bg-item-1 {
  transform: translate(0px, 10px) rotate(45deg);
}
.bg-item-2 {
  width: 0px;
}
.bg-item-3 {
  transform: translate(0px, -16px) rotate(-45deg);
}

.bg-item-background-color-black {
  background-color: black;
}

.bg-item-background-color-white {
  background-color: white;
}

/* Header Section */

/* Hero Section */
.hero {
  background-image: url("../images/hero-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 90px;
  transition: all .3s ease;
}
.hero-image-1 {
  background-image: url("../images/hero-background.png");
}
.hero-image-2 {
  background-image: url("../images/bg.jpg");
}
.hero-wrapper-infobox {
  margin-top: 160px;
  padding-left: 80px;
}
.hero-wrapper-infobox__title {
  color: var(--white-color);
  font-size: 60px;
  line-height: 120px;
  font-family: var(--second-font);
  font-weight: 700;
}
.hero-wrapper-infobox__description {
  font-size: 20px;
  line-height: 40px;
  color: var(--white-color);
  font-weight: 400;
  width: 470px;
  margin-bottom: 25px;
}
.hero-wrapper-infobox__btn {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  padding: var(--button-padding);
  background: var(--primary-color);
  transition: color .3s ease;
}
.hero-wrapper-infobox__btn:hover {
  color: var(--white-color);
}
/* Hero Section */

/* Skills Section */

.skills {
  margin-top: 100px;
}

.skills-wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.skills-wrapper-item {
  text-align: center;
  flex-basis: 320px;
  gap: 40px;
}

.skills-wrapper-item__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: var(--white-color);
  margin-top: 50px;
}

.skills-wrapper-item__description {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  color: var(--white-color);
}

/* Portfolio Section */
.portfolio {
  margin-top: 100px;
}
.portfolio-menu {
  display: flex;
  width: 895px;
  justify-content: space-between;
  gap: 5px;
  margin: 0 auto;
  margin-top: 60px;
}

.portfolio-menu__link {
  color: var(--primary-color);
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  padding: 8px 79px 7px 79px;
  transition: all .3s ease;
  border: 2px solid var(--primary-color);
}

.portfolio-menu__link:hover {
  color: var(--white-color);
}
.portfolio-menu__active {
  background: var(--primary-color);
  color: black;
}

.portfolio-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 30%;
  gap: 25px;
  margin-top: 60px;  
}

/* Portfolio Section */

/* Video Section */
.video {
  margin-top: 100px;
}
.video-player {
  background-image: url("../images/video-player.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 705px;
  margin-top: 60px;
}

.video-player__icon {
  background-image: url("../images/play-icon-1.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  width: 129.86px;
  height: 130px;
  transition: all .3s ease;
}
.video-player__icon:hover {
  background-image: url("../images/play-icon-2.svg");
}
/* Video Section */

/* Price Section */
.price {
  margin-top: 100px;
}
.price-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-top: 60px;
}
.price-item {
  border: 3px solid var(--primary-color);
  flex-basis: 450px;
  padding-top: 45px;
  padding-bottom: 43px;
  text-align: center;
}
.price-item-name {
  color: var(--white-color);
  font-size: 28px;
  line-height: 56px;
  font-weight: 700;
  font-family: var(--second-font);
  margin-bottom: 20px;
}
.price-item-cost {
  color: var(--primary-color);
  font-size: 24px;
  line-height: 48px;
  font-family: var(--second-font);
  font-weight: 700;
  margin-bottom: 20px;
}

.price-item-list {
  margin-bottom: 40px;
}

.price-item-list-item {
  color:  var(--white-color);
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;  
}

.price-item-btn {
  color: var(--main-text-color);
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  padding: 12px 39px 12px 39px;
  background-color: var(--primary-color);
  transition: color .3s ease;
}

.price-item-btn:hover {
  color: var(--white-color);
}

/* Price Section */

/* Contacts Section */

.contacts {
  margin-top: 100px;
  background-image: url("../images/contacts.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 195px;
}

.contacts-info {
  width: 450px;
  margin-left: auto;
  margin-right: 20px;
}

.contacts-info-title {
  color: var(--primary-color);
  font-size: 40px;
  line-height: 80px;
  font-weight: 700;
  font-family: var(--second-font);
  margin-bottom: 40px;
}

.contacts-info-form {
  display: flex;
  flex-direction: column;
}

.contacts-info-form-email {
  color: var(--primary-color);
  background: transparent;
  border: 2px solid var(--primary-color);
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.contacts-info-form-email::placeholder {
  font-size: 20px;
  color: var(--primary-color);
}

.contacts-info-form-number {
  color: var(--primary-color);
  background: transparent;
  border: 2px solid var(--primary-color);
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.contacts-info-form-number::placeholder {
  color: var(--primary-color);
  font-size: 20px;
}

textarea {
  padding-left: 20px;
  padding-top: 15px;
  height: 100px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
  font-size: 20px;
  resize: none;
  outline: none;
  border: 2px solid var(--primary-color);
}

.contact-info-form-btn {
  color: var(--main-text-color);
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  padding: 12px 40px;
  transition: color .3s ease;
  background-color: var(--primary-color);
}

.contact-info-form-btn:hover {
  color: var(--white-color);
}

/* Contacts Section */

/* Footer Section */


.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}


.footer-wrapper-item span {
  color: var(--white-color);
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;
}

.footer-wrapper-item span:not(:first-child) {
  margin-right: 20px;
}

.footer-wrapper-item p {
  color: var(--white-color);
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;
}

.footer-wrapper-social-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* Footer Section */

/* Background */
.background {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  transition: all .3s ease; 
}
.background-show {
  display: block;
}
/* Background */

/* Aside Menu */
.aside {
  top: 0px;
  right: 0px;
  width: 620px;
  background: rgba(0, 0, 0, 1);
  z-index: 100;
  height: 100%;
  position: fixed;
  transform: translateX(100%);
  transition: transform .3s ease;
  display: none;
}
.aside-show {
  transform: translateX(0%);
}
.aside-menu {
  margin-left: 127px;
  margin-top: 134px;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.aside-menu-item {
  transition: all .3s ease;
}
.aside-menu-item:hover {
  background-color: crimson;
  color: white;
}
.aside-menu-item__link {
  font-size: 35px;
  line-height: 72.55px;
  font-weight: 400;
  color: var(--white-color);
}
/* Aside Menu */

/* Theme Changer */

.theme-changer-title {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 10px;
}
.theme-changer-wrapper {
  display: flex;
  background-color: black;
  position: fixed;
  padding: 20px;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border-radius: 40%;
  box-shadow: inset 0 0 2000px rgb(126 110 14 / 53%);
  cursor: pointer;
  z-index: 3000;
  transition: all .3s ease;
}
.theme-changer-wrapper-dark {
  font-size: 64px;
  color: crimson;
  cursor: pointer;
}
.theme-changer-wrapper div {
  font-size: 32px;
}
.theme-changer-wrapper-white {
  font-size: 64px;
  color: crimson;
  cursor: pointer;
}
/* Theme Changer */

/* Assets */
.color-white {
  color: white;
}
.color-black {
  color: black;
}
/* Assets */

/* Media Queries */
@media screen and (max-width: 1041px) {
  .portfolio-menu {
    width: 445px;
    flex-wrap: wrap;
  }
  .portfolio-menu a {
    width: 220px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .skills-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills-wrapper-item {
    flex-basis: 300px;
    margin-bottom: 50px;
  }
  .price-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 769px) {
  .background {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .hero-wrapper-infobox {
    padding-left: 0px;
  }  
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
  .header-wrapper-menu-list {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .aside {
    display: block;
  }
  .hero-wrapper-infobox {
    margin-top: 78px;
  }
  .hero-wrapper-infobox__title {
    font-size: 32px;
    line-height: 64px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .hero-wrapper-infobox__description {
    font-size: 20px;
    line-height: 24.2px;
    font-weight: 400;
    margin-bottom: 60px;
    width: 390px;
  }
  
  .section-box {
    width: 364px;
  }
  .skills-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills-wrapper-item {
    flex-basis: 300px;
    margin-bottom: 50px;
  }
  .section-title {
    font-size: 32px;
    line-height: 40.22px;
    font-weight: 700;
  }
  .video-player-wrapper {
    padding: 0px;
  }
  .video-player {
    height: 418px;
    width: 100%;
  }
  .video-player__icon {
    width: 64.62px;
    height: 64.69px;
  }
  .price-wrapper {
    gap: 50px;
  }
  .contacts-info {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    text-align: center;
  }
  .footer-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-wrapper div {
    flex-basis: 100%;
    text-align: center;
  }
  .footer-wrapper-social-wrapper {
    justify-content: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 551px) {
  .hero-wrapper-infobox__description {
    width: 100%;
  }
  .hero-wrapper-infobox {
    text-align: center;
  }
  .portfolio-menu {
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
  .contacts-info {
    width: 100%;
  }
  .section-box {
    width: 100%;
  }
  .portfolio-image-wrapper-item__src {
    width: 100%;
  }
  .aside {
    width: 100%;
  }
  .aside-menu {
    width: 100%;
    margin-left: 0px;
  }
  .aside-menu li {
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .header-wrapper {
    flex-wrap: wrap;
  }
  .hero-wrapper-infobox__btn {
    padding: 12px 20px;
  }
  .hero-wrapper-infobox__description {
    margin-bottom: 22px;
    font-size: 16px;
  }
  .price-item-btn {
    padding: 12px 20px;
  }
  .contact-info-form-btn {
    padding: 12px 20px;
  }
}

/* Media Queries */